@import "../../assets/styles/variables.scss";

.toggle_switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.625rem;
  cursor: pointer;
}

.toggle_switch input[type="checkbox"] {
  display: none;
}

.toggle_switch_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.625rem;
  background-color: $white;
  border-radius: 3.125rem;
  border: 1px solid $gray-light;
  @include transition(background-color);
}

.toggle_switch_handle {
  position: absolute;
  top: 0.21rem;
  left: 0.25rem;
  width: 1.125rem;
  height: 1.125rem;
  background-color: $gray-dark;
  border-radius: 50%;
  @include transition(transform);
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch_handle {
  transform: translateX(calc(100% + 2.813rem));
  background-color: $white;
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch_background {
  background-color: $primary;
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch_background .toggle_switch_handle {
  transform: translateX(1.3rem);
  background-color: $white;
}

.csi {

  input[type="checkbox"] + .toggle_switch_background {
      background-color: #757676; 
  }

  input[type="checkbox"]:checked + .toggle_switch_background {
      background-color: #00B885; 
  } 

  input[type="checkbox"] + .toggle_switch_background .toggle_switch_handle {
    background-color: $white;
  }
}